.sumory-container, .sumory-app {
  width: 100%;
  height: 100%;
  position: relative;
}

.util-menu {
  height: 5em;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  .lang-switcher {

  }

  .left, .right {
    display: inline-block;
    width: 50%;
    padding: 0.8em 1em;
  }

  .right {
    text-align: right;
  }
}

.status {
  font-size: 3em;

  .status-sum, .status-turns {
    display: inline-block;
    width: 50%;
    padding: 0.5em 0.6em 0;
  }

  .status-sum {
    text-align: left;
  }

  .status-turns {
    text-align: right;
  }
}
