/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../../vendor/exo-2/exo2-regular-webfont.woff2') format('woff2'),
  url('../../vendor/exo-2/exo2-regular-webfont.woff') format('woff');
}

/* exo-2-700 - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../../vendor/exo-2/exo2-bold-webfont.woff2') format('woff2'),
  url('../../vendor/exo-2/exo2-bold-webfont.woff') format('woff');
}
