.s-dropdown {
  display: inline-block;
  position: relative;
  .s-dropdown-menu {
    display: none;
    position: absolute;
    right: 100%;
    bottom: 0;
    background-color: $color-white;
    border-radius: 0.25em;
    .s-dropdown-item {
      display: block;
      border: none;
      background-color: transparent;
      min-width: 10em;
      text-align: left;
      padding: 0.6em 1em 1em;
    }
  }

  &.open {
    .s-dropdown-menu {
      display: block;
    }
  }

  .trigger {
    text-align: left;

    span {
      vertical-align: middle;
    }
  }
}
