body.with-modal {
  overflow: hidden;
}

.s-modal-with-overlay {
  width: 100%;
  height: 100%;
  display: none;

  &.enter, &.enter-active, &.enter-done,
  &.exit, &.exit-active {
    display: block;
  }

  &.exit-done {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.s-modal-scroll {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.s-modal {
  position: relative;
  width: 80%;
  padding: 2em;
  margin: 6em auto;
  border: 0.5vw solid #666;
  border-radius: 1.5em;
  background-color: $color-black;

  &.s-modal-with-close {
    padding-top: 4em;
  }

  .s-modal-close {
    width: 2em;
    height: 2em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: $color-white;
    font-size: 2em;
  }
}


.s-modal-with-overlay {
  .overlay {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .s-modal {
    opacity: 0;
    margin-top: -500px;
    transition: opacity 0.5s, margin-top 0.3s;
  }

  &.enter-active, &.enter-done, &.exit {
    .overlay {
      opacity: 1;
      transition: opacity 0.5s;
    }

    .s-modal {
      margin-top: 6em;
      opacity: 1;
      transition: opacity 0.3s, margin-top 0.5s;
    }
  }

  &.exit-active, &.exit-done {
    .overlay {
      opacity: 0;
    }

    .s-modal {
      margin-top: -500px;
      opacity: 0;
      transition: opacity 0.3s linear 0.2s, margin-top 0.3s;
    }
  }
}
